<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ee.ria.scardcomlibrary">

    <uses-permission android:name="android.permission.NFC" />

    <application>

        <service
            android:name="ee.ria.scardcomlibrary.impl.ACS$CardStateService"
            android:enabled="true" />

    </application>

</manifest>
