<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ee.ria.scardcomlibrary">

    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <service
            android:name="ee.ria.scardcomlibrary.impl.ACS$CardStateService"
            android:enabled="true" />
    </application>

</manifest>
