<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ee.ria.scardcomlibrary">

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <application>

        <service
            android:name="ee.ria.scardcomlibrary.impl.ACS$CardStateService"
            android:enabled="true" />

    </application>

</manifest>
