<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Needed for Android SDK 28+ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>

        <service
            android:name=".service.SmartSignService"
            android:exported="false"
            android:foregroundServiceType="shortService" />

        <!-- Needed for Android SDK 34+ -->
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="shortService"
            tools:node="merge" />

    </application>

</manifest>
