<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ee.ria.EstEIDUtility"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="com.hidglobal.ia.omnikey.service.permission.SMARTCARDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Do we need this? -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service
            android:name="ee.ria.token.tokenservice.TokenService"
            android:enabled="true"
            android:exported="false"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="ee.ria.EstEIDUtility"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>



        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DashboardMenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activity.SigningActivity"
            android:label="@string/title_activity_signing"
            android:parentActivityName=".activity.DashboardMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ee.ria.EstEIDUtility.activity.DashboardMenuActivity" />
        </activity>
        <activity
            android:name=".activity.ManageEidsActivity"
            android:label="@string/title_activity_manage_eids"
            android:parentActivityName=".activity.DashboardMenuActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ee.ria.EstEIDUtility.activity.DashboardMenuActivity" />
        </activity>
        <activity
            android:name=".activity.PinUtilitiesActivity"
            android:label="@string/title_activity_pin_utilities"
            android:parentActivityName=".activity.DashboardMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ee.ria.EstEIDUtility.activity.DashboardMenuActivity" />
        </activity>
        <activity
            android:name=".activity.BrowseContainersActivity"
            android:label="@string/title_activity_browse_containers"
            android:parentActivityName=".activity.DashboardMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ee.ria.EstEIDUtility.activity.DashboardMenuActivity" />
        </activity>
        <activity
            android:name=".activity.ContainerDetailsActivity"
            android:label="@string/bdoc_detail_title"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.BrowseContainersActivity" />
        <activity
            android:name=".activity.PinChangeActivity"
            android:parentActivityName=".activity.PinUtilitiesActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.OpenExternalFileActivity"
            android:parentActivityName=".activity.DashboardMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ee.ria.EstEIDUtility.activity.DashboardMenuActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.*"
                    android:scheme="file" />
                <data
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.*"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="application/*"
                    android:pathPattern=".*\\.*"
                    android:scheme="file" />
                <data
                    android:mimeType="application/*"
                    android:pathPattern=".*\\.*"
                    android:scheme="content" />
            </intent-filter>
        </activity>

        <activity
            android:name=".preferences.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
    </application>

</manifest>