<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ee.ria.DigiDoc">

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="com.hidglobal.ia.omnikey.service.permission.SMARTCARDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".DigidocApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service
            android:name="ee.ria.token.tokenservice.TokenService"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name="ee.ria.mopp.androidmobileid.service.MobileSignService"
            android:exported="false"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="ee.ria.DigiDoc"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DashboardMenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SigningActivity"
            android:label="@string/title_activity_signing"
            android:parentActivityName=".activity.DashboardMenuActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ee.ria.DigiDoc.activity.DashboardMenuActivity" />
        </activity>
        <activity
            android:name=".activity.ManageEidsActivity"
            android:label="@string/title_activity_manage_eids"
            android:parentActivityName=".activity.DashboardMenuActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ee.ria.DigiDoc.activity.DashboardMenuActivity" />
        </activity>
        <activity
            android:name=".activity.PinUtilitiesActivity"
            android:label="@string/title_activity_pin_utilities"
            android:parentActivityName=".activity.DashboardMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ee.ria.DigiDoc.activity.DashboardMenuActivity" />
        </activity>
        <activity
            android:name=".activity.BrowseContainersActivity"
            android:label="@string/title_activity_browse_containers"
            android:parentActivityName=".activity.DashboardMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ee.ria.DigiDoc.activity.DashboardMenuActivity" />
        </activity>
        <activity
            android:name=".activity.ContainerDetailsActivity"
            android:label="@string/bdoc_detail_title"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.BrowseContainersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PinChangeActivity"
            android:parentActivityName=".activity.PinUtilitiesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PukChangeActivity"
            android:parentActivityName=".activity.PukUtilitiesActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.OpenExternalFileActivity"
            android:parentActivityName=".activity.DashboardMenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ee.ria.DigiDoc.activity.DashboardMenuActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" android:pathPattern=".*\\.asice" android:mimeType="application/octet-stream" />
                <data android:scheme="content" android:pathPattern=".*\\.asice" android:mimeType="application/vnd.etsi.asic-e+zip" />
                <data android:scheme="content" android:pathPattern=".*\\.asice" android:mimeType="application/zip" />
                <data android:scheme="content" android:pathPattern=".*\\.asice" android:mimeType="application/x-zip" />
                <data android:scheme="content" android:pathPattern=".*\\.asice" android:mimeType="application/x-zip-compressed" />
                <data android:scheme="content" android:pathPattern=".*\\.asics" android:mimeType="application/octet-stream" />
                <data android:scheme="content" android:pathPattern=".*\\.asics" android:mimeType="application/vnd.etsi.asic-s+zip" />
                <data android:scheme="content" android:pathPattern=".*\\.asics" android:mimeType="application/zip" />
                <data android:scheme="content" android:pathPattern=".*\\.asics" android:mimeType="application/x-zip" />
                <data android:scheme="content" android:pathPattern=".*\\.asics" android:mimeType="application/x-zip-compressed" />
                <data android:scheme="content" android:pathPattern=".*\\.sce" android:mimeType="application/octet-stream" />
                <data android:scheme="content" android:pathPattern=".*\\.sce" android:mimeType="application/vnd.etsi.asic-e+zip" />
                <data android:scheme="content" android:pathPattern=".*\\.sce" android:mimeType="application/zip" />
                <data android:scheme="content" android:pathPattern=".*\\.sce" android:mimeType="application/x-zip" />
                <data android:scheme="content" android:pathPattern=".*\\.sce" android:mimeType="application/x-zip-compressed" />
                <data android:scheme="content" android:pathPattern=".*\\.sce" android:mimeType="application/octet-stream" />
                <data android:scheme="content" android:pathPattern=".*\\.scs" android:mimeType="application/octet-stream" />
                <data android:scheme="content" android:pathPattern=".*\\.scs" android:mimeType="application/vnd.etsi.asic-s+zip" />
                <data android:scheme="content" android:pathPattern=".*\\.scs" android:mimeType="application/zip" />
                <data android:scheme="content" android:pathPattern=".*\\.scs" android:mimeType="application/x-zip" />
                <data android:scheme="content" android:pathPattern=".*\\.scs" android:mimeType="application/x-zip-compressed" />
                <data android:scheme="content" android:pathPattern=".*\\.adoc" android:mimeType="application/octet-stream" />
                <data android:scheme="content" android:pathPattern=".*\\.adoc" android:mimeType="application/vnd.lt.archyvai.adoc-2008" />
                <data android:scheme="content" android:pathPattern=".*\\.adoc" android:mimeType="application/zip" />
                <data android:scheme="content" android:pathPattern=".*\\.adoc" android:mimeType="application/x-zip" />
                <data android:scheme="content" android:pathPattern=".*\\.adoc" android:mimeType="application/x-zip-compressed" />
                <data android:scheme="content" android:pathPattern=".*\\.bdoc" android:mimeType="application/octet-stream" />
                <data android:scheme="content" android:pathPattern=".*\\.bdoc" android:mimeType="application/vnd.etsi.asic-e+zip" />
                <data android:scheme="content" android:pathPattern=".*\\.bdoc" android:mimeType="application/zip" />
                <data android:scheme="content" android:pathPattern=".*\\.bdoc" android:mimeType="application/x-zip" />
                <data android:scheme="content" android:pathPattern=".*\\.bdoc" android:mimeType="application/x-zip-compressed" />
                <data android:scheme="content" android:pathPattern=".*\\.ddoc" android:mimeType="application/octet-stream" />
                <data android:scheme="content" android:pathPattern=".*\\.ddoc" android:mimeType="application/xml" />
                <data android:scheme="content" android:pathPattern=".*\\.edoc" android:mimeType="application/octet-stream" />
                <data android:scheme="content" android:pathPattern=".*\\.edoc" android:mimeType="application/vnd.etsi.asic-e+zip" />
                <data android:scheme="content" android:pathPattern=".*\\.edoc" android:mimeType="application/zip" />
                <data android:scheme="content" android:pathPattern=".*\\.edoc" android:mimeType="application/x-zip" />
                <data android:scheme="content" android:pathPattern=".*\\.edoc" android:mimeType="application/x-zip-compressed" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" android:pathPattern=".*\\.asice" android:mimeType="*/*" />
                <data android:scheme="file" android:pathPattern=".*\\.asics" android:mimeType="*/*" />
                <data android:scheme="file" android:pathPattern=".*\\.sce" android:mimeType="*/*" />
                <data android:scheme="file" android:pathPattern=".*\\.scs" android:mimeType="*/*" />
                <data android:scheme="file" android:pathPattern=".*\\.adoc" android:mimeType="*/*" />
                <data android:scheme="file" android:pathPattern=".*\\.bdoc" android:mimeType="*/*" />
                <data android:scheme="file" android:pathPattern=".*\\.ddoc" android:mimeType="*/*" />
                <data android:scheme="file" android:pathPattern=".*\\.edoc" android:mimeType="*/*" />
                <data android:scheme="file" android:pathPattern=".*\\.pdf" android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".preferences.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
